*{
    margin: 0px;
    padding: 0px;
}

header, section{
    height: 10yh;
    background-color: antiquewhite;
    margin: 30px;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

header h1{
    color: gold;
    width: 500px;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace'
}

h2{
    padding-bottom:20px;
}

.card_container{
    display: flex;
    justify-content: space-evenly;
    margin:10px;
}

.card{
    width: 20%;
    margin: 10px;
    padding: 50px;
    background-color: grey;
    text-align: left;
}

.card h2{
    color:white;
}
.card button{
    padding: 10px;
    border: 2px solid yellow;
    background-color: black;
    color:white;
}
/***********/
#sec2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
    row-gap: 0px;
    min-height: 80vh;
    gap: 10px;
  }
        
  #area-1 {
    grid-area: 1 / 1 / 4 / 2;
    background-image: url(/img/pexels-photo-6474449.jpeg);
  }
        
  #area-2 {
    grid-area: 1 / 2 / 2 / 4;
    background-color:red;
    padding: 30px;
    padding-bottom:40px;

  }
        
  #area-3 {
    grid-area: 2 / 2 / 4 / 4;
    background-color:green;
  }

  /*******/

  #sec3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
    row-gap: 0px;
    padding: 30px;
  }
        
  #area-4 {
    grid-area: 1 / 1 / 3 / 2;
  }
        
  #area-5 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
    justify-content: right;
  }
        
  #area-6 {
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 30px;
  }