header, section{
    padding:40px;
}

header{
    background-color: grey;
}

.uvod{
    text-align: center;
}

h1{
    margin-top: 40px;
    text-align: center;
}
h2{
    width: 200px;
}

.uvod {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.but1{
    font-size: 20px;
    padding: 10px;
    padding-left:30px;
    padding-right:30px;
    background-color: blue;
    color:white;
    border: 4px solid blue;
    border-radius: 20px;
}

.sec1{
    background-color: lightskyblue;
    color:white;
    height: 400px;
}
